.course-sidebar-container {
  display: flex;
  position: relative;
}

.course-sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 250px;
  background-color: #1e1e2f;
  color: white;
  transition: transform 0.3s ease;
  transform: translateX(-90%);
}

.course-sidebar.open {
  transform: translateX(0);
}

.course-sidebar-toggle-button {
  position: absolute;
  top: 20px;
  right: -90px;
  background-color: #fe370f;
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
}

.course-sidebar-content {
  padding: 20px;
  height: calc(100% - 100px);
  display: flex;
  flex-direction: column;
}

.course-sidebar-content h3 {
  color: #fe370f;
}

.course-sidebar-content ul {
  list-style: none;
  padding: 0;
  flex-grow: 1;
}

.course-sidebar-content ul li {
  margin: 15px 0;
}

.course-sidebar-content ul li a {
  color: white;
  text-decoration: none;
}

.course-sidebar-content ul li a:hover {
  color: #fe370f;
}

.course-sidebar-info {
  margin-top: auto;
  margin-bottom: -8vh;
  text-align: center;
  padding: 10px;
  background-color: #2e2e4f;
  cursor: pointer;
  position: relative;
}

.course-sidebar-info:hover {
  background-color: #3e3e5f;
}

.course-sidebar-dropup-content {
  position: absolute;
  bottom: 50px;
  margin-left: -0.5vw;
  left: 0;
  width: 100%;
  background-color: #1e1e2f;
  padding: 10px;
  text-align: left;
  z-index: 1;
}

.course-sidebar-dropup-content img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-bottom: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.course-sidebar-dropup-content p {
  margin: 5px 0;
  color: white;
}

.course-sidebar-dropup-content p strong {
  color: #fe370f;
}
