@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    padding:0;
    margin:0;
    font-family:'poppins',sans-serif;
}
.login-container{
    width:80vw;
    height:auto;
    margin:0 auto;
    display:flex;
    flex-direction: column;
    align-items: center;
    /* border:2px solid green; */
}
.login-container h1{
    margin-top:5%;
    font-size:3em;
}
.login-wrapper{
    width:100%;
    display: flex;
    margin-top:5%;
    border-radius:10px;
    box-shadow: 0 3px 10px rgba(105,105,105,0.5);    
}
.login-container .login-wrapper .login-image-container img{
    width:40vw;
    height:60vh;
    object-fit: cover;
}
.login-form-container{
    width:60%;
}
.login-form-container .drop-down-container{
    height:10%;
    width:100%;
    display:flex;
    align-items: center;
    justify-content: end;
}
.login-form-container .drop-down-container select{
    margin: 5% 10%;
    width:25%;
    padding:10px;
    font-weight:600;
    background-color: rgb(51, 51, 51);
    color:white;
    border:2px solid white;
    border-radius:10px;
    outline:none;
}
.login-form-container form{
    width:100%;
    height:90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.login-form-wrapper{
    height:100%;
    width:60%;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.login-form-wrapper input{
    width:70%;
    font-size: 1em;
    margin:0 0 15% 0;
    border:none;
    outline:none;
    border-bottom:2px solid rgb(51, 51, 51);
    padding: 0 10px;
}
.login-form-wrapper button{
    width:70%;
    padding:2% 0;
    outline:none;
    border-radius:5px;
    font-weight:600;
    color:white;
    background-color: rgb(51, 51, 51);
    border:2px solid rgb(51, 51, 51);
}
/* Style for the error pop-up */
.error-pop-up {
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 10px 20px;
    background-color: rgba(255, 0, 0, 0.8);
    color: white;
    border-radius: 5px;
    font-size: 14px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    animation: fadeIn 0.5s, fadeOut 0.5s 2.5s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateX(100%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
        transform: translateX(0);
    }
    to {
        opacity: 0;
        transform: translateX(100%);
    }
}
