body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f4;
}
  
.table-container {
    margin: 20px auto; 
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    max-width: 100%; 
}
  
h1 {
    text-align: center;
}
  
table {
    width: 100%;
    border-collapse: collapse;
    margin: 0 auto; 
}
  
thead, th {
    padding: 12px;
    border: 1px solid #ddd;
    color: orange; 
    text-align: center;
}
  
tr, td {
    padding: 12px;
    border: 1px solid #ddd;
    color: black; 
    text-align: center;
}
  
th {
    background-color: #2e2e4f;
    color: white; 
}
