.handling-sidebar-container {
  display: flex;
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.handling-sidebar {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 250px;
  background-color: #1e1e2f;
  color: white;
  transition: transform 0.3s ease;
  transform: translateX(-90%);
}

.handling-sidebar.open {
  transform: translateX(0);
}

.handling-sidebar-toggle-button {
  position: absolute;
  top: 20px;
  right: -20px;
  background-color: #fe370f;
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
}

.handling-sidebar-content {
  padding: 20px;
  display: flex;
  flex-direction: column;
  height: calc(100% - 100px);
}

.handling-sidebar-content h3 {
  color: #fe370f;
}

.handling-sidebar-content ul {
  list-style: none;
  padding: 0;
  flex-grow: 1;
}

.handling-sidebar-content ul li {
  margin: 15px 0;
}

.handling-sidebar-content ul li a {
  color: white;
  text-decoration: none;
}

.handling-sidebar-content ul li a:hover {
  color: #fe370f;
}

.handling-sidebar-info {
  margin-top: 1vh; 
  margin-bottom: 2px;
  text-align: center;
  padding: 10px;
  background-color: #2e2e4f;
  cursor: pointer;
  position: relative;
}

.handling-sidebar-name{
  margin-bottom: 2vh;
}

.handling-sidebar-info:hover {
  background-color: #3e3e5f;
}

.handling-sidebar-dropup-content {
  position: absolute;
  bottom: 7vh;
  left: 0;
  width: 100%;
  background-color: #1e1e2f;
  padding: 10px;
  text-align: left;
  z-index: 1;
}

.handling-sidebar-dropup-content img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.handling-sidebar-dropup-content p {
  margin: 5px 0;
  color: white;
}

.handling-sidebar-dropup-content p strong {
  color: #fe370f;
}

/* Responsive Design */
@media (min-width: 700px) {
  .handling-sidebar-right-content {
    transition: margin-left 0.3s ease, width 0.3s ease;
  }

  .handling-sidebar-right-content.sidebar-closed {
    margin-left: 2vw;
    width: calc(100% - 0);
  }

  .handling-sidebar-right-content.sidebar-open {
    margin-left: 250px;
    width: calc(100% - 250px);
  }

  .handling-sidebar-info{
    margin-bottom: -10vh;
    height: 3vh;
  }
}

@media (max-width: 1024px) {
  .handling-sidebar-card-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .handling-sidebar-info{
    margin-bottom: -11vh;
  }
}

@media (max-width: 768px) {
  .handling-sidebar-card-container {
    grid-template-columns: 1fr;
  }

  .handling-sidebar-right-content {
    padding: 10px;
  }

  .handling-sidebar-info{
    margin-bottom: -11vh;
  }

  .handling-sidebar-name{
    margin-bottom: 1vh;
  }
}